<mat-card class="card mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Home</mat-card-title>
    </mat-card-header>
    <mat-list>
        <div mat-subheader>CRUD de usuário<br />
            Tecnologias utilizadas no projeto:</div>
          <mat-list-item>
            <mat-icon matListItemIcon>circle</mat-icon>
            <div matListItemTitle>Angular</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>circle</mat-icon>
            <div matListItemTitle>Firebase</div>
          </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Desenvolvido por:</div>
          <mat-list-item>
            <mat-icon matListItemIcon>account_circle</mat-icon>
            <div matListItemTitle>Bruno César Duran</div>
          </mat-list-item>
      </mat-list>
</mat-card>