<div class="container">

    <h1>Lista de Usuários</h1>

    <button routerLink="create" mat-flat-button color="primary">Cadastrar</button>

    <mat-card class="card mat-elevation-z8">

        <table>
            <tr>
                <th>Nome</th>
                <th>CFP</th>
                <th>E-mail</th>
                <th></th>
                <th></th>
            </tr>
            <tr *ngFor="let usuario of usuarios | async">
                <td>{{usuario.nome}}</td>
                <td>{{usuario.cpf | cpfcnpj }}</td>
                <td>{{usuario.email}}</td>
                <td>
                    <button (click)="edit(usuario, usuario.key)" mat-icon-button>
                        <mat-icon class="edit">edit</mat-icon>
                    </button>
                </td>
                <td>
                    <button (click)="delete(usuario.key)" mat-icon-button>
                        <mat-icon class="delete">delete</mat-icon>
                    </button>
                </td>
            </tr>
        </table>

    </mat-card>

</div>